@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,900;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-hover {
    transition: all 1s ease-in-out;
    animation: iconHover ease-in-out;
}

@keyframes iconHover {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(5px);
    }
}

.audio-icon {
    scale: 2;
    margin: 3rem;
}